:root {
  --card-radius: 1rem;
}

/* body Styles */
body {
  background-color: white;
  color: #a4d65e;
  font-family: 'Poppins', Arial, sans-serif;
}

/* Button */
button.btn-primary {
  background-color: #8abf3d;
  border-color: #8abf3d;
}
button.btn-primary:hover {
  background-color: #a4d65e;
  border-color: #a4d65e;
}

/* Card Styling */
.card {
  border-radius: var(--card-radius);
  border: 2px dashed #8abf3d;
  background-color:white;
}

/* Mad Lib Output */
#madlib-output {
  min-height: 6rem;
  line-height: 1.6;
  font-size: 1.05rem;
}

#madlib-output h1 {
  color: #b30000;
  text-shadow: 0 0 9px #b30000;
  font-family: 'Creepster', cursive;
}

#madlib-output p {
  color: #c4e88b; 
}


